*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
input,button,textarea{font-family:inherit;}
nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
header {
	background-color: #F0EEDD;
}
.container {
	width: 1440px;
	margin: 0 auto;
}
.section {
	height: 82px;
}
.heading {
	text-align: center;
	padding-top: 9px;
	height: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 20,4px;
	letter-spacing: 0,5px;
	text-align: center;
}
.menu {
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
	display: flex;
	padding-top: 30px;
	text-decoration: active;
}
.logo {
	text-align: center;
	padding-top: 25px
	height: 32px;
	width: 131px;
}
.shop {
	width: 48px;
	font-weight: bold;
}
.always {
	width: 109px;
	font-weight: bold;
	margin-left: 35px;
}
.mission {
	width: 70px;
	margin-right: 35px;
	font-weight: bold;
}
.faqs {
	width: 45px;
	font-weight: bold;
	margin-right: 19px;
}
.menu .profil {
	background-color: #C87B5E;
	font-family: 'Roboto', sans-serif;
	display: inline;
	width: 35px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	color: white ;
	border-radius: 50%;
}
.pan {
	position: absolute;
	padding-left: 383px;
	padding-top: 168px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	color: #35312E;
}
.meet {
	width: 248px;
	height: 16px;
	font-size: 16px; line-height: 16px; text-transform: uppercase;
}
.your {
	margin-top: 9px;
	width: 248px;
	height: 72px;
	font-size: 50px; line-height: 72px; letter-spacing: 1px;
}
.skillet {
	margin-top: -19px;
	position: absolute;
	width: 155px;
	height: 72px;
	font-size: 50px; line-height: 72px; letter-spacing: 1px; text-decoration-line: underline;
}
.buy {
	margin-top: 60px;
	background-color: #D37657;
	font-family: 'Roboto', sans-serif; font-weight: bold; text-transform: uppercase; 
	font-size: 12px; line-height: 20px;
	border-radius: 30px;
	display: block;
	width: 248px;
	padding: 20px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
}